* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Section 1 */
nav {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  width: 100%;
  box-shadow: 1px 3px 1px rgb(66, 152, 206);
  background-color: white;
}

.logo {
  margin-left: 15px;
}

.logo > p {
  font-size: 48px;
  transform: translate(54%, 9%);
}
.logo > span {
  background-color: rgb(66, 71, 97);
  width: 91px;
  height: 44px;
  position: absolute;
  transform: translate(9%, 15%);
  text-align: center;
  font-size: 39px;
  font-weight: bold;
  color: rgb(22, 21, 21);
  border-radius: 10px;
}

.list {
  margin-right: 20px;
  width: 482px;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.list a {
  color: rgb(17, 14, 14);
  text-decoration: none;
  border: 10px;
}
a:hover,a:visited {
  background-color: rgb(41, 132, 235);
  border-radius: 10px;
}

.middle {
  background-image: url("images/6.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 60px;
  height: 600px;
  padding-left: 100 px;
}

.middle-p {
  background-color: rgb(66, 71, 97);
  width: 100px;
  height: 44px;
  position: absolute;
  transform: translate(574%, 545%);
  text-align: center;
  font-size: 39px;
  font-weight: bold;
  border-radius: 10px;
  color: rgb(22, 21, 21);
}

.middle-p2 {
  color: rgb(0, 0, 0);
  width: 100px;
  height: 44px;
  font-size: 48px;
  position: absolute;
  text-align: center;
  transform: translate(690%, 543%);
}

/* Section 2 */

.projects h1 {
  margin-top: 10px;
  height: 30px;
  width: 100%;
  box-shadow: 1px 3px 1px rgb(66, 152, 206);
  background-color: rgb(173, 170, 170);
  padding: 0px 10px;
}
.lista {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.home {
  width: 35%;
  padding-top: 131px;
  margin-right: 33px;
  margin-bottom: -225px;
}
.home img {
  width: 100%;
  height: 70%;
}
.home p {
  transform: translate(0%, -114%);
  background-color: rgb(116, 113, 113);
  width: 112px;
  height: 32px;
  position: absolute;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

/* Section 3*/
.About h1 {
  margin-top: 150px;
  height: 30px;
  width: 100%;
  box-shadow: 1px 3px 1px rgb(66, 152, 206);
  background-color: rgb(173, 170, 170);
  padding: 0px 30px;
  padding-top: -30px;
}

.Writing {
  text-align: start;
  padding-top: 30px;
  padding-left: 20px;
}

/*  Section 4*/
.employees {
  margin-top: 100px;
  width: 100%;
  height: 100%;
  padding: 0 20px;
}

.employees1 {
  width: 100%;
  display: flex;
  padding-left: 160px;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  max-width: 50%;
  margin-bottom: 50px;
  position: relative;
}
.card img {
  width: 72%;
  border: 2px solid rgb(66, 152, 206);
}

.card p {
  margin-top: 5px;
  margin-bottom: 10px;
}

.info {
  width: 50%;
}
.card button {
  width: 72%;
  height: 43px;
  border: none;
  background-color: gray;
  color: rgb(66, 152, 206);
  font-size: 20px;
  cursor: pointer;
  border: 2px solid rgb(66, 152, 206);
}

/* section 5 */
.contact h1 {
  margin-top: 50px;
  height: 30px;
  width: 100%;
  box-shadow: 2px 3px 1px rgb(66, 152, 206);
  background-color: rgb(173, 170, 170);
  padding: 0px 30px;
  padding-top: -30px;
}

.contact form {
  width: 100%;
  margin-top: 15px;
}

.contact input,textarea {
  text-align: center;
  width: 90%;
  height: 30px;
  margin-left: 60px;
  margin-bottom: 20px;
  padding: 10px;
  border: 3px solid rgb(66, 152, 206);
}

.contact textarea {
  height: 90px;
}

.contact .submet {
  width: 230px;
  height: 50px;
  background-color: gray;
  color: rgb(66, 152, 206);
  font-size: 27px;
  margin-left: 650px;
  border: 2px solid rgb(66, 152, 206);
}

/* footer */

footer {
  padding-top: 50px;
  width: 1500px;

  margin-left: 10px;
}

footer p {
  font-size: 20px;
  max-width: 104vw;
  height: 59px;
  border-top: 2px solid rgb(66, 152, 206);
  margin: -15px 0px;
  padding-left: 650px;
}

footer span {
  color: rgb(66, 152, 206);
}
